%%-*- mode: erlang -*-
%% ex: ft=erlang
%% {require_otp_vsn, "R19"}.

{sub_dirs, ["rel"]}.
{erl_opts, [debug_info, {parse_transform}]}.
{cover_enabled, true}.

{deps, [
    {utils, "", {git, "https://github.com/elpaisa/erlutils", {tag, "v1.0.1"}}},
    {poolboy, "", {git, "https://github.com/devinus/poolboy", {tag, "1.5.1"}}},
    jsx
]}.

{deps_dir, "lib"}.
{cover_export_enabled, true}.
{cover_enabled, true}.
{cover_print_enabled, true}.
{eunit_opts, [verbose, no_tty, {report, {eunit_progress, [colored]}}]}.

{xref_checks, [undefined_function_calls]}.
