{erl_opts, [debug_info, {parse_transform}]}.
{cover_enabled, true}.

{deps, [
    {poolboy, {git, "https://github.com/devinus/poolboy", {tag, "1.5.1"}}},
    jsx
]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{eunit_opts, [verbose,
no_tty,
{report, {eunit_progress, [colored]}}]}.

{xref_checks, [undefined_function_calls]}.
